// Container
.container {
    max-width: $containerWidth + px;
    width: 100%;
    margin: 0 auto;
    //padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body & Locked
body {
    font-family: 'Inter', sans-serif;
    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    background-color: #F7FBFA;
    &.dark {
        background: #242424;
    }

    height: 10000px;
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.link {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    transition: all .3s ease;
}

.h1__80 {
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #202025;

    @media (max-width: $breakpoint1200) {
        font-weight: 800;
        font-size: 64px;
        line-height: 64px;
    }

    @media (max-width: $breakpoint992) {
        font-size: 48px;
        line-height: 48px;
    }
}

svg {
    path {
        transition: all .9s ease;
    }
}