.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 96px;
  
  @media (max-width: $breakpoint768) {
    padding: 0 24px;
  }

  &__left {
    flex: 0 1 799.5px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #E1E2E2;
    border-bottom: 1px solid #E1E2E2;
    padding-right: 45px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 80%
    }

    @media (max-width: $breakpoint480) {
      flex: 0 1 50%;
      border-right: none;

    }

    .header__search {
      button {
        background: none;
      }

      @media (max-width: $breakpoint480) {
        display: none;
      }
    }
  }



  &__right {
    border-bottom: 1px solid #E1E2E2;
    height: 100%;
    flex: 0 1 799.5px;
    display: flex;
    align-items: center;
    justify-content: end;

    @media (max-width: $breakpoint992) {
      flex: 0 1 19.5%
    }

    @media (max-width: $breakpoint480) {
      flex: 0 1 50%;
    }

    .link__item {
      @media (max-width: $breakpoint992) {
        display: none;
      }
    }

    .secondary__menu {
      nav {
        ul {
          display: flex;
          gap: 20px;


          li {

            &:nth-child(2) {
              @media (max-width: $breakpoint1200) {
                display: none;
              }
            }

            &:nth-child(3) {
              a {
                border: 2px solid #545454;
              }
            }

            a {
              border-radius: 3px;
              padding: 10px 20px;
              border: 2px solid #F7FBFA;
              color: #202025;



              &:hover {
                padding: 10px 20px;
                border: 2px solid #545454;
                background-color: #545454;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}







.burger {
  background: transparent;
  z-index: 3;
  margin-top: 2px;
  cursor: pointer;

    display: flex;
    position: relative;
    height: 20px;
    width: 24px;

    &.active {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 7px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        display: block;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

  &:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: $burgerColor;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    display: none;
  }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 6px;
      width: 18px;
      background: $burgerColor;
      height: 3px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }


.main__menu {
  position: fixed;
  background: $burgerColor;
  left: 0;
  color: white;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;

  &.active {
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    pointer-events: all;
    z-index: 2;
    animation: fade 0.1s linear;

    .left__half {

      flex: 0 1 50%;
      padding: 200px 80px;
      background-color: #B9A9FB;

      @media (max-width: 1200px) {
        display: none;
      }

      h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 80px;
        color: #010101;
        max-width: 640px;
        letter-spacing: -0.02em;
      }

      .left__links {
        display: flex;
        margin-top: 40px;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          padding: 16px 56px;
          background: #F7FBFA;
        }
      }
    }

    .right__half {
      flex: 0 1 50%;

      @media (max-width: 1200px) {
        flex: 0 1 100%;
      }

      ul {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;



        li {
          display: flex;
          padding: 30px 0;
          align-items: center;
          max-width: 100%;
          width: 100%;
          justify-content: space-between;
          border-bottom: 1px solid #202025;
          cursor: pointer;
          @media (max-width: 1601px) {
            padding: 20px 0;
          }




          svg {
            transform: translateX(-80px);
            filter: brightness(0.5);

            @media (max-width: $breakpoint768) {
              transform: translateX(-24px);
            }
          }

          &:hover {
            svg {
              filter: brightness(1);
            }
            a {
              background: conic-gradient(from 180deg at 50% 50%, #5FFF5C -18.66deg, #FFE249 22.23deg, #F35950 78.14deg, #7C5BFF 159deg, #1CE4FF 202.32deg, #5FFF5C 341.34deg, #FFE249 382.23deg);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
          }

          &:first-child {
           a {
             background: conic-gradient(from 180deg at 50% 50%, #5FFF5C -18.66deg, #FFE249 22.23deg, #F35950 78.14deg, #7C5BFF 159deg, #1CE4FF 202.32deg, #5FFF5C 341.34deg, #FFE249 382.23deg);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             background-clip: text;
             text-fill-color: transparent;
           }
          }

          a {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            padding: 0 80px;
            line-height: 48px;
            letter-spacing: -0.02em;
            color: #E1E2E2;

            @media (max-width: 1601px) {
              font-size: 35px;
              line-height: 35px;
            }

            @media (max-width: $breakpoint768) {
              font-size: 25px;
              line-height: 25px;
              padding: 0 24px;
            }


          }
        }
      }
      .down__app {
        max-width: 100%;
        width: 100%;
        padding: 0 80px;
        margin-top: 70px;

        @media (max-width: $breakpoint768) {
          padding: 0 24px;
        }

        h2 {
          font-style: normal;
          font-weight: 800;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.02em;
          color: #A6AEAD;
        }

        .app__links {
          margin-top: 40px;
          display: flex;
          gap: 20px;
          
          @media (max-width: $breakpoint768) {
            flex-wrap: wrap;
          }

          .apple, .android {
            display: flex;
            align-items: center;
            gap: 16.5px;
            padding: 18px 36px;
            font-weight: 800;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-transform: uppercase;

            @media (max-width: $breakpoint768) {
              max-width: 100%;
              width: 100%;
            }

            &:hover {
              background: conic-gradient(from 180deg at 50% 50%, #5FFF5C -18.66deg, #FFE249 22.23deg, #F35950 78.14deg, #7C5BFF 159deg, #1CE4FF 202.32deg, #5FFF5C 341.34deg, #FFE249 382.23deg);
            }
          }

          .apple {
            color: #F7FBFA;
            background: #202025;
          }

          .android {
            color: #010101;
            background: #F7FBFA;
          }
        }
      }
    }
  }


}